<!-- Our Cheerleaders Section - exact legacy HTML from index.php lines 1448-1526 -->
<section class="ourCheerLeader-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">
          <span>Our <br />cheer<span class="d-block d-sm-inline">leaders</span></span>
          <span class="vector"><img width="273" src="/assets/images/heading/cheerleaders.avif" alt="Cheer Leaders" loading="lazy" /></span>
        </h2>
      </div>
      <div class="col-sm-12">
        <ul class="ourCheerLeader-list">
          <li><img src="/assets/images/home/cheerleaders/tata.svg" alt="Tata Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/bajaj.png" alt="Bajaj Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/dreamsports.svg" alt="Dream Sports" /></li>
          <li><img src="/assets/images/home/cheerleaders/abzo.svg" alt="Abzo Motors" /></li>
          <li><img src="/assets/images/home/cheerleaders/fundsindia.svg" alt="FundsIndia" /></li>
          <li><img src="/assets/images/home/cheerleaders/inDrive.svg" alt="inDrive" /></li>
          <li><img src="/assets/images/home/cheerleaders/tenmeya.svg" alt="Tenmeya" /></li>
          <li><img src="/assets/images/home/cheerleaders/liquide.png" alt="Liquide Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/haqdarshak.svg" alt="Haqdarshak Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/stashfin.png" alt="StashFin Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/titanEncircle.png" alt="Titan Encircle Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/brightChamp.png" alt="BrightCHAMPS Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/immagin.png" alt="Imagine VC Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/mioAmore.png" alt="Mio Amore Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/kea.png" alt="Kea Cosmetics Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/apowiz.png" alt="Apiwiz Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/iskcon.png" alt="ISKCON Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/bombay-gourmet.png" alt="Bombay Gourmet Market Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/the-nature-story.svg" alt="The Nature Story Logo" /></li>
          <li><img src="/assets/images/home/cheerleaders/ekra.png" alt="Ekar Logo" /></li>
        </ul>
      </div>
    </div>
  </div>
</section>
