---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <img class="flogo" src="/assets/images/logo.svg" alt="Altoby logo" />
      <img class="frlogo" src="/assets/images/footerLogo.svg" alt="Altoby logo mark" />
    </div>
    <div class="row footer-middle">
      <div class="col-lg-6 md-pb-32 md-mb-32 mb-border-light-black">
        <h5>Drop in for a coffee</h5>
        <p>
          <address>
            <a href="https://maps.app.goo.gl/rGuhY2CA8qtyoLB58" target="_blank">
              House 12B, Floor 1, ABC Plaza<br />
              Off Waiyaki Way, Westlands<br />
              Nairobi 00800
            </a>
          </address>
        </p>
        <h5 class="space">Say hello</h5>
        <a class="hlink" href="tel:+2547173422473">+254 717 342 2473</a><br />
        <a href="mailto:hello@altoby.com" class="hlink">hello@altoby.com</a>
      </div>
      <div class="col-lg-3 col-5">
        <h5>Company</h5>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/all-works">All Works</a></li>
          <li><a href="/what-we-do">What We Do</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/get-in-touch">GET IN TOUCH</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-7">
        <h5>Discover</h5>
        <ul>
          <li><a href="/latest-news">Latest News</a><span class="linkSpan">NEW</span></li>
          <li><a href="#">Careers</a><span class="linkSpan">COMING SOON</span></li>
          <li><a href="/privacy-policy">Privacy policy</a></li>
        </ul>
      </div>
    </div>
    <div class="row footer-bottom">
      <div class="col-md-6">
        <p>&copy; {currentYear} Altoby. All rights reserved.</p>
      </div>
      <div class="col-md-4">
        <ul class="socialLink">
          <li><a href="https://www.facebook.com/altoby/" target="_blank"><img src="/assets/images/icons/facebook.svg" alt="facebook" /></a></li>
          <li><a href="https://dribbble.com/altoby" target="_blank"><img src="/assets/images/icons/dribbble.svg" alt="dribbble" /></a></li>
          <li><a href="https://www.behance.net/altoby" target="_blank"><img src="/assets/images/icons/behance.svg" alt="behance" /></a></li>
          <li><a href="https://www.instagram.com/altoby/" target="_blank"><img src="/assets/images/icons/instagram.svg" alt="instagram" /></a></li>
          <li><a href="https://www.linkedin.com/company/altoby" target="_blank"><img src="/assets/images/icons/linkedin.svg" alt="linkedin" /></a></li>
          <li><a href="https://twitter.com/altoby" target="_blank"><img src="/assets/images/icons/twitter.svg" alt="twitter" /></a></li>
        </ul>
      </div>
      <a class="topToButton" href="#top"><img src="/assets/images/icons/upArrow.svg" alt="scroll to top" /></a>
    </div>
  </div>
</footer>
