<!-- Service Bullet List Section -->
<div class="bulletList-section md-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">WE HAVE HAD <br />OUR HANDS ON</h2>
        <div class="d-none d-md-block">
          <ul class="bulletList">
            <li>FINANCE</li>
            <li>HOSPITALITY</li>
            <li>ENTERTAINMENT</li>
            <li>SPORTS</li>
          </ul>
          <ul class="bulletList">
            <li>FMCG</li>
            <li>AUTOMOTIVE</li>
            <li>ED-tech</li>
            <li>INDUSTRIAL</li>
          </ul>
          <ul class="bulletList">
            <li>CHARITY</li>
            <li>FASHION</li>
            <li>AGENCY</li>
            <li>INFORMATION TECH.</li>
          </ul>
          <ul class="bulletList">
            <li>FOOD & BEVERAGE</li>
            <li>HEALTH & MEDICINE</li>
          </ul>
          <ul class="bulletList">
            <li>Transportation</li>
            <li>Retail</li>
            <li> Beauty</li>
          </ul>
        </div>
        <div class="d-block d-md-none">
          <ul class="bulletList">
            <li>FINANCE</li>
            <li>HOSPITALITY</li>
            <li>ENTERTAINMENT</li>
            <li>SPORTS</li>
            <li>FMCG</li>
            <li>AUTOMOTIVE</li>
            <li>ED-tech</li>
            <li>INDUSTRIAL</li>
            <li>CHARITY</li>
            <li>FASHION</li>
            <li>AGENCY</li>
            <li>INFORMATION TECH.</li>
            <li>FOOD & BEVERAGE</li>
            <li>HEALTH & MEDICINE</li>
            <li>Transportation</li>
            <li>Retail</li>
            <li> Beauty</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
