<!-- Info Stats Section from about.php -->
<div class="info-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="info-card">
          <img src="/assets/images/icons/experimental.svg" width="42" height="42" alt="experimental image" />
          <h4><span class="count w-60">40</span>+ Projects</h4>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="info-card">
          <img src="/assets/images/icons/versatile.svg" width="42" height="42" alt="versatile image" />
          <h4><span class="count">10</span>+ Countries</h4>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="info-card">
          <img src="/assets/images/icons/observation.svg" width="42" height="42" alt="observation image" />
          <h4><span class="count">17</span>+ Verticals</h4>
        </div>
      </div>
    </div>
  </div>
</div>
