<!-- Wild Ride / CTA Section - exact legacy HTML from index.php lines 1641-1694 -->
<section id="wildride" class="commonHeighlight-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-heading">
          <span>ready to take your business on a wild ride?</span>
          <span class="vector line-vector">
            <img width="325" src="/assets/images/heading/ride.gif" alt="Line vector" loading="lazy" />
          </span>
        </h2>
        <p>Give us a holla. We're always up for a good adventure!</p>
      </div>
      <div class="col-sm-3">
        <a class="link black md-arrow-link" href="/contact">WRITE TO US</a>
      </div>
      <div class="col-sm-5">
        <a class="link black md-mb-0 md-arrow-link" href="https://maps.app.goo.gl/8f9qGMwpvVacFjnf7" target="_blank">DROP IN AT OUR OFFICE</a>
      </div>
    </div>
  </div>
</section>
