<!-- About Details Section from about.php -->
<div id="about" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">
          <span>ABOUT <br />ALTOBY®</span>
        </h2>
      </div>

      <div class="col-2 col-md-4">
        <div class="line">
          <div class="scrollBar"></div>
        </div>
      </div>

      <div class="col-10 col-md-8">
        <div class="animated-heading">
          <p class="heading">Freelancing during college helped us learn early about design preferences in the industry.</p>
          <p class="heading">After working in the industry we realized that bureaucracy limited our creativity and potential.</p>
          <p class="heading">It all started in an UBER to our regular 9-5.</p>
          <p class="heading">During COVID, we decided to start our own design studio called 'ALTOBY®'.</p>
        </div>
      </div>
    </div>
  </div>
</div>
