<!-- Work With Us Section from about.php -->
<div class="workWithUs-section about-workWithUs-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <a href="#about" class="bookmark link md-arrow-link">
          <span class="visually-hidden">Scroll down to learn more about us</span>
          LEARN MORE
        </a>
      </div>
      <div class="col-sm-7 md-mt-40">
        <p class="heading">At Altoby, we believe that design should be as unique as a fingerprint and as vibrant as a peacock's feather. That's why we approach every project with a 'why not?' attitude, experimenting with new ideas and never shying away from a challenge.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-section">
  <img src="/assets/images/about/aboutMain.jpg" alt="A Photo of People Working at Altoby" loading="lazy" />
</div>
