<!-- Global Cheerleaders Section from about.php -->
<div class="ourCheerLeader-section about-ourCheerLeader-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">
          <span>we deliver all <br />over<br /> the world</span>
          <span class="vector"><img width="273" src="/assets/images/heading/world.avif" alt="Cheer Leaders" loading="lazy" /></span>
        </h2>
      </div>

      <div class="col-sm-12">
        <ul class="ourCheerLeader-list">
          <li><img src="/assets/images/icons/flag/IND.svg" alt="India" loading="lazy" /><h5>IND</h5></li>
          <li><img src="/assets/images/icons/flag/USA.svg" alt="USA" loading="lazy" /><h5>USA</h5></li>
          <li><img src="/assets/images/icons/flag/UK.svg" alt="UK" loading="lazy" /><h5>UK</h5></li>
          <li><img src="/assets/images/icons/flag/NGR.svg" alt="Nigeria" loading="lazy" /><h5>NGR</h5></li>
          <li><img src="/assets/images/icons/flag/AUS.svg" alt="Australia" loading="lazy" /><h5>AUS</h5></li>
          <li><img src="/assets/images/icons/flag/SGP.svg" alt="Singapore" loading="lazy" /><h5>SGP</h5></li>
          <li><img src="/assets/images/icons/flag/VIE.svg" alt="Vietnam" loading="lazy" /><h5>VIE</h5></li>
          <li><img src="/assets/images/icons/flag/UAE.svg" alt="UAE" loading="lazy" /><h5>UAE</h5></li>
          <li><img src="/assets/images/icons/flag/TUR.svg" alt="Turkey" loading="lazy" /><h5>TUR</h5></li>
          <li><img src="/assets/images/icons/flag/HKG.svg" alt="Hong Kong" loading="lazy" /><h5>HKG</h5></li>
        </ul>
      </div>
    </div>
  </div>
</div>
