<!-- Hero Section from about.php -->
<div class="hero-section about-hero-section">
  <div class="container">
    <div class="hero-content">
      <h1>We Make you stand out like a unicorn <img width="229" src="/assets/images/heading/about.gif" alt="Cat Riding Unicorn Image" loading="lazy" /> in a field of horses.</h1>
    </div>
  </div>
</div>
