<!-- Processes Section from about.php -->
<div class="ourProcesses-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">
          <span>Our <br />processes</span>
        </h2>
      </div>
      <div class="col-sm-7 offset-sm-5">
        <p class="heading">While we believe each project has its own path that it follows, but we do try to keep a standardized process.</p>
      </div>
    </div>
  </div>
  <div class="tab-wrapper">
    <div class="container">
      <div class="tabLists">
        <ul class="tabs">
          <li data-id="branding" class="active">branding</li>
          <li data-id="ux">UI/UX</li>
        </ul>
      </div>
    </div>

    <div class="tabContent">
      <div class="tabpanel branding">
        <div class="owl-carousel owl-theme branding-carousel rounded-owl-nav">
          <div class="branding-card">
            <img src="/assets/images/icons/brandResearch.svg" alt="Brand Research" loading="lazy" />
            <h6>Brand Research</h6>
            <p>Gathering information about the brand, its target audience, and the competitive landscape. It helps to ensure that the resulting identity is relevant, memorable, and effective.</p>
          </div>
          <div class="branding-card">
            <img src="/assets/images/icons/strategy.svg" alt="Brand Strategy" loading="lazy" />
            <h6>Strategy</h6>
            <p>Develop a branding strategy based on research, including positioning, messaging, and visual identity. This involves creating a brand mission statement, values, and positioning statement.</p>
          </div>
          <div class="branding-card">
            <img src="/assets/images/icons/design.svg" alt="Design" loading="lazy" />
            <h6>Brand Identity Development</h6>
            <p>Create the brand's visual identity by designing the logo, selecting colors, typography, and other graphic elements, and developing brand guidelines for consistency.</p>
          </div>
          <div class="branding-card">
            <img src="/assets/images/icons/brandImplementation.svg" alt="Brand Implementation" />
            <h6>Brand Implementation</h6>
            <p>Apply the brand identity to website, social media, advertising campaigns, packaging, and other marketing collateral to ensure consistent, visually appealing communication.</p>
          </div>
          <div class="branding-card">
            <img src="/assets/images/icons/launch.svg" alt="Brand Launch" loading="lazy" />
            <h6>Launch</h6>
            <p>Launch the brand with a successful communication plan to ensure the target audience is aware of the new identity after developing and implementing branding materials.</p>
          </div>
          <div class="branding-card">
            <img src="/assets/images/icons/brandBuilding.svg" alt="Brand Build" loading="lazy" />
            <h6>Brand Building</h6>
            <p>Crafting and maintaining a robust brand identity is all about delivering a crystal-clear, consistent message that resonates with your audience through diverse channels.</p>
          </div>
        </div>
      </div>

      <div class="tabpanel ux">
        <div class="owl-carousel owl-theme branding-carousel rounded-owl-nav">
          <div class="branding-card">
            <img src="/assets/images/icons/brandResearch.svg" alt="Research" loading="lazy" />
            <h6>Research</h6>
            <p>Explore user preferences, analyze market trends, and assess competitors to make informed design choices, ensuring the final product aligns with user needs and industry standards.</p>
          </div>
          <div class="branding-card">
            <img src="/assets/images/icons/strategy.svg" alt="Analyse" loading="lazy" />
            <h6>Analyse & Plan</h6>
            <p>Establish project objectives, clarify scope, and construct user personas. This strategic phase serves as a navigational guide, ensuring design efforts align with defined goals and audience expectations.</p>
          </div>
          <div class="branding-card">
            <img src="/assets/images/icons/design.svg" alt="Design" loading="lazy" />
            <h6>Design</h6>
            <p>Develop visual concepts, wireframes, and interactive prototypes to visualize the user interface's aesthetics and functionality. This phase brings the design vision to life for evaluation and refinement.</p>
          </div>
          <div class="branding-card">
            <img src="/assets/images/icons/brandImplementation.svg" alt="Test & Reiterate" loading="lazy" />
            <h6>Test & Re-iterate</h6>
            <p>Gather user feedback through usability tests, surveys, and analytics. Identify pain points and usability issues in the design, refining it for a more user-friendly experience.</p>
          </div>
          <div class="branding-card">
            <img src="/assets/images/icons/develop.svg" alt="Development" loading="lazy" />
            <h6>Develop <span>OUTSOURCED</span></h6>
            <p>Transform the approved design into a functional product by writing code and leveraging development tools. This phase brings the visual concept to life as a working interface.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
