---
import { INDUSTRIES } from '../../data/constants';
---
<div class="marquee-strip">
  <div class="marquee-track">
    {INDUSTRIES.filter(i => i.value !== 'Other Professional Services').map((industry) => (
      <span class={`marquee-item${industry.highlight ? ' highlight' : ''}`}>{industry.label}</span>
    ))}
    {/* duplicate for seamless loop */}
    {INDUSTRIES.filter(i => i.value !== 'Other Professional Services').map((industry) => (
      <span class={`marquee-item${industry.highlight ? ' highlight' : ''}`}>{industry.label}</span>
    ))}
  </div>
</div>
