<!-- Animated Logos / Marquee Section - exact legacy HTML from index.php lines 667-696 -->
<section class="antimated-logos-section">
  <div class="container-fuild">
    <div class="row">
      <div class="col-sm-12">
        <div class="antimated-logos-left">
          <img src="/assets/images/home/features-scroll.svg" alt="fun" />
        </div>
        <div class="antimated-logos-right">
          <img src="/assets/images/home/features-scroll.svg" alt="fun" />
        </div>
      </div>
    </div>
  </div>
</section>
