<!-- Works Hero Section -->
<div class="hero-section work-hero-section">
  <div class="container">
    <div class="hero-content">
      <h1>
        <img src="/assets/images/icons/work-vector-1.svg" alt="Image" loading="lazy" /> 
        <span>Design so</span> fresh, 
        <img class="d-none d-md-inline icon2" width="232" src="/assets/images/heading/work.avif" alt="Image" loading="lazy" />
        <br />it's 
        <img class="d-inline d-md-none icon2" width="165" src="/assets/images/heading/work.avif" alt="Image" loading="lazy" /> practically still wet.
      </h1>
    </div>
  </div>
</div>
